@import './config';

canvas{
    background-color: white;
    position: relative;
    z-index: -1;
    overscroll-behavior: none!important;
}

canvas.active{
    cursor: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"8\" height=\"8\" viewBox=\"0 0 8 8\"><circle cx=\"4\" cy=\"4\" r=\"3\" stroke=\"rgb(255,255,255)\" stroke-width=\"1\" fill=\"rgb(0,0,0)\"/></svg>") 4 4, auto;
}

canvas.eraser{
    cursor: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"20\" height=\"20\" viewBox=\"0 0 20 20\"><circle cx=\"10\" cy=\"10\" r=\"9\" stroke=\"rgb(0,0,0)\" stroke-width=\"1\" fill=\"rgb(255,255,255)\"/></svg>") 10 10, auto;
}